*{
    padding: 0;
    margin: 0;
}
.ia110{
    width: 1200px;
    height: 535px;
}fl
.alls{
    margin: auto;
    width: 1200px;
    height: 100%;
    background: #ffffff;
    
}
.woundplast{
    width:1200px ;
}
.woundplasts{
    float: left;
    margin-right: 20px;
}